@font-face {
	font-family: 'map-icons';
	src:url('fonts/map-icons.eot');
	src:url('fonts/map-icons.eot?#iefix') format('embedded-opentype'),
		url('fonts/map-icons.woff') format('woff'),
		url('fonts/map-icons.ttf') format('truetype'),
		url('fonts/map-icons.svg#map-icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'map-icons';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-storage, .icon-travel_agency, .icon-parking, .icon-real_estate_agency, .icon-park, .icon-night_club, .icon-lodging, .icon-liquor_store, .icon-lawyer, .icon-insurance_agency, .icon-hardware_store, .icon-bus_station, .icon-book_store, .icon-bicycle_store, .icon-bar, .icon-accounting {
	font-family: 'map-icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-storage:before {
	content: "\e000";
}
.icon-travel_agency:before {
	content: "\e001";
}
.icon-parking:before {
	content: "\e002";
}
.icon-real_estate_agency:before {
	content: "\e003";
}
.icon-park:before {
	content: "\e004";
}
.icon-night_club:before {
	content: "\e005";
}
.icon-lodging:before {
	content: "\e006";
}
.icon-liquor_store:before {
	content: "\e007";
}
.icon-lawyer:before {
	content: "\e008";
}
.icon-insurance_agency:before {
	content: "\e009";
}
.icon-hardware_store:before {
	content: "\e00a";
}
.icon-bus_station:before {
	content: "\e00b";
}
.icon-book_store:before {
	content: "\e00c";
}
.icon-bicycle_store:before {
	content: "\e00d";
}
.icon-bar:before {
	content: "\e00e";
}
.icon-accounting:before {
	content: "\e00f";
}
