@font-face {
	font-family: 'map-icons';
	src:url('../fonts/map-icons.eot');
	src:url('../fonts/map-icons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/map-icons.woff') format('woff'),
		url('../fonts/map-icons.ttf') format('truetype'),
		url('../fonts/map-icons.svg#map-icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'map-icons';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-train_station, .icon-taxi_stand, .icon-subway_station, .icon-car_repair, .icon-car_wash, .icon-transit_station, .icon-airport, .icon-gas_station, .icon-car_rental, .icon-doctor, .icon-health, .icon-dentist, .icon-hospital, .icon-pharmacy, .icon-physiotherapist, .icon-veterinary_care, .icon-point_of_interest, .icon-natural_feature, .icon-political, .icon-embassy, .icon-city_hall, .icon-local_government, .icon-gym, .icon-spa, .icon-painter, .icon-night_club, .icon-store, .icon-electronics_store, .icon-movie_rental, .icon-plumber, .icon-school, .icon-courthouse, .icon-amusement_park, .icon-university, .icon-roofing_contractor, .icon-clothing_store, .icon-convenience_store, .icon-cemetery, .icon-atm, .icon-aquarium, .icon-bar, .icon-bank, .icon-funeral_home, .icon-furniture_store, .icon-grocery_or_supermarket, .icon-lodging, .icon-finance, .icon-casino, .icon-movie_theater, .icon-bowling_alley, .icon-department_store, .icon-park, .icon-bus_station, .icon-zoo, .icon-stadium, .icon-shopping_mall, .icon-jewelry_store, .icon-parking, .icon-church, .icon-bakery, .icon-cafe, .icon-hindu_temple, .icon-liquor_store, .icon-pet_store, .icon-car_dealer, .icon-bicycle_store, .icon-mosque, .icon-food, .icon-restaurant, .icon-place_of_worship, .icon-book_store, .icon-florist, .icon-hardware_store, .icon-synagogue, .icon-campground, .icon-laundry, .icon-post_office, .icon-travel_agency, .icon-fire_station, .icon-rv_park, .icon-art_gallery, .icon-insurance_agency, .icon-police, .icon-post_box, .icon-route, .icon-lawyer, .icon-electrician, .icon-library, .icon-museum, .icon-general_contractor, .icon-real_estate_agency, .icon-postal_code, .icon-postal_code_prefix, .icon-accounting, .icon-locksmith, .icon-beauty_salon, .icon-hair_care, .icon-moving_company, .icon-storage {
	font-family: 'map-icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-train_station:before {
	content: "\e000";
}
.icon-taxi_stand:before {
	content: "\e001";
}
.icon-subway_station:before {
	content: "\e002";
}
.icon-car_repair:before {
	content: "\e003";
}
.icon-car_wash:before {
	content: "\e004";
}
.icon-transit_station:before {
	content: "\e005";
}
.icon-airport:before {
	content: "\e006";
}
.icon-gas_station:before {
	content: "\e007";
}
.icon-car_rental:before {
	content: "\e008";
}
.icon-doctor:before {
	content: "\e009";
}
.icon-health:before {
	content: "\e00a";
}
.icon-dentist:before {
	content: "\e00b";
}
.icon-hospital:before {
	content: "\e00c";
}
.icon-pharmacy:before {
	content: "\e00d";
}
.icon-physiotherapist:before {
	content: "\e00e";
}
.icon-veterinary_care:before {
	content: "\e00f";
}
.icon-point_of_interest:before {
	content: "\e010";
}
.icon-natural_feature:before {
	content: "\e011";
}
.icon-political:before {
	content: "\e012";
}
.icon-embassy:before {
	content: "\e013";
}
.icon-city_hall:before {
	content: "\e014";
}
.icon-local_government:before {
	content: "\e015";
}
.icon-gym:before {
	content: "\e016";
}
.icon-spa:before {
	content: "\e017";
}
.icon-painter:before {
	content: "\e018";
}
.icon-night_club:before {
	content: "\e019";
}
.icon-store:before {
	content: "\e01a";
}
.icon-electronics_store:before {
	content: "\e01b";
}
.icon-movie_rental:before {
	content: "\e01c";
}
.icon-plumber:before {
	content: "\e01d";
}
.icon-school:before {
	content: "\e01e";
}
.icon-courthouse:before {
	content: "\e01f";
}
.icon-amusement_park:before {
	content: "\e020";
}
.icon-university:before {
	content: "\e021";
}
.icon-roofing_contractor:before {
	content: "\e022";
}
.icon-clothing_store:before {
	content: "\e023";
}
.icon-convenience_store:before {
	content: "\e024";
}
.icon-cemetery:before {
	content: "\e025";
}
.icon-atm:before {
	content: "\e026";
}
.icon-aquarium:before {
	content: "\e027";
}
.icon-bar:before {
	content: "\e028";
}
.icon-bank:before {
	content: "\e029";
}
.icon-funeral_home:before {
	content: "\e02a";
}
.icon-furniture_store:before {
	content: "\e02b";
}
.icon-grocery_or_supermarket:before {
	content: "\e02c";
}
.icon-lodging:before {
	content: "\e02d";
}
.icon-finance:before {
	content: "\e02e";
}
.icon-casino:before {
	content: "\e02f";
}
.icon-movie_theater:before {
	content: "\e030";
}
.icon-bowling_alley:before {
	content: "\e031";
}
.icon-department_store:before {
	content: "\e032";
}
.icon-park:before {
	content: "\e033";
}
.icon-bus_station:before {
	content: "\e034";
}
.icon-zoo:before {
	content: "\e035";
}
.icon-stadium:before {
	content: "\e036";
}
.icon-shopping_mall:before {
	content: "\e037";
}
.icon-jewelry_store:before {
	content: "\e038";
}
.icon-parking:before {
	content: "\e039";
}
.icon-church:before {
	content: "\e03a";
}
.icon-bakery:before {
	content: "\e03b";
}
.icon-cafe:before {
	content: "\e03c";
}
.icon-hindu_temple:before {
	content: "\e03d";
}
.icon-liquor_store:before {
	content: "\e03e";
}
.icon-pet_store:before {
	content: "\e03f";
}
.icon-car_dealer:before {
	content: "\e040";
}
.icon-bicycle_store:before {
	content: "\e041";
}
.icon-mosque:before {
	content: "\e042";
}
.icon-food:before {
	content: "\e043";
}
.icon-restaurant:before {
	content: "\e044";
}
.icon-place_of_worship:before {
	content: "\e045";
}
.icon-book_store:before {
	content: "\e046";
}
.icon-florist:before {
	content: "\e047";
}
.icon-hardware_store:before {
	content: "\e048";
}
.icon-synagogue:before {
	content: "\e049";
}
.icon-campground:before {
	content: "\e04a";
}
.icon-laundry:before {
	content: "\e04b";
}
.icon-post_office:before {
	content: "\e04c";
}
.icon-travel_agency:before {
	content: "\e04d";
}
.icon-fire_station:before {
	content: "\e04e";
}
.icon-rv_park:before {
	content: "\e04f";
}
.icon-art_gallery:before {
	content: "\e050";
}
.icon-insurance_agency:before {
	content: "\e051";
}
.icon-police:before {
	content: "\e052";
}
.icon-post_box:before {
	content: "\e053";
}
.icon-route:before {
	content: "\e054";
}
.icon-lawyer:before {
	content: "\e055";
}
.icon-electrician:before {
	content: "\e056";
}
.icon-library:before {
	content: "\e057";
}
.icon-museum:before {
	content: "\e058";
}
.icon-general_contractor:before {
	content: "\e059";
}
.icon-real_estate_agency:before {
	content: "\e05a";
}
.icon-postal_code:before {
	content: "\e05b";
}
.icon-postal_code_prefix:before {
	content: "\e05c";
}
.icon-accounting:before {
	content: "\e05d";
}
.icon-locksmith:before {
	content: "\e05e";
}
.icon-beauty_salon:before {
	content: "\e05f";
}
.icon-hair_care:before {
	content: "\e060";
}
.icon-moving_company:before {
	content: "\e061";
}
.icon-storage:before {
	content: "\e062";
}
