@font-face {
	font-family: 'map-icons';
	src:url('../fonts/map-icons.eot');
	src:url('../fonts/map-icons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/map-icons.woff') format('woff'),
		url('../fonts/map-icons.ttf') format('truetype'),
		url('../fonts/map-icons.svg#map-icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'map-icons';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-map-pin, .icon-expand, .icon-fullscreen, .icon-square-pin, .icon-route-pin, .icon-sheild, .icon-liquor_store, .icon-bicycle_store, .icon-hardware_store, .icon-insurance_agency, .icon-lawyer, .icon-real_estate_agency, .icon-art_gallery, .icon-campground, .icon-bakery, .icon-bar, .icon-amusement_park, .icon-aquarium, .icon-airport, .icon-bank, .icon-car_rental, .icon-car_dealer, .icon-hospital, .icon-hair_care, .icon-gym, .icon-grocery_or_supermarket, .icon-general_contractor, .icon-pharmacy, .icon-point_of_interest, .icon-political, .icon-post_box, .icon-health, .icon-post_office, .icon-real_estate_agency-copy, .icon-hindu_temple, .icon-restaurant, .icon-female, .icon-male, .icon-zoo, .icon-veterinary_care, .icon-car_repair, .icon-university, .icon-travel_agency, .icon-transit_station, .icon-beauty_salon, .icon-electronics_store, .icon-search, .icon-zoom-out-alt, .icon-movie_rental, .icon-atm, .icon-jewelry_store, .icon-car_wash, .icon-unisex, .icon-rv_park, .icon-school, .icon-clothing_store, .icon-laundry, .icon-casino, .icon-place_of_worship, .icon-furniture_store, .icon-zoom-in-alt, .icon-zoom-in, .icon-department_store, .icon-fire_station, .icon-church, .icon-library, .icon-shopping_mall, .icon-local_government, .icon-spa, .icon-convenience_store, .icon-police, .icon-route, .icon-zoom-out, .icon-location-arrow, .icon-postal_code, .icon-locksmith, .icon-doctor, .icon-mosque, .icon-stadium, .icon-storage, .icon-movie_theater, .icon-electrician, .icon-moving_company, .icon-postal_code_prefix, .icon-crosshairs, .icon-compass, .icon-dentist, .icon-plumber, .icon-museum, .icon-finance, .icon-parking, .icon-courthouse, .icon-accounting, .icon-store, .icon-subway_station, .icon-natural_feature, .icon-florist, .icon-food, .icon-night_club, .icon-synagogue, .icon-taxi_stand, .icon-painter, .icon-train_station, .icon-pet_store, .icon-gas_station, .icon-funeral_home, .icon-cemetery, .icon-bowling_alley, .icon-roofing_contractor, .icon-physiotherapist, .icon-embassy, .icon-city_hall, .icon-bus_station, .icon-park, .icon-lodging, .icon-toilet, .icon-circle, .icon-square-rounded, .icon-square, .icon-book_store, .icon-cafe, .icon-wheelchair, .icon-volume-control-telephone, .icon-sign-language, .icon-low-vision-access, .icon-open-captioning, .icon-closed-captioning, .icon-braille, .icon-audio-description, .icon-assistive-listening-system, .icon-abseiling, .icon-tennis, .icon-skateboarding, .icon-playground, .icon-inline-skating, .icon-hang-gliding, .icon-climbing, .icon-baseball, .icon-archery, .icon-wind-surfing, .icon-scuba-diving, .icon-sailing, .icon-marina, .icon-canoe, .icon-boat-tour, .icon-boat-ramp, .icon-swimming, .icon-whale-watching, .icon-waterskiing, .icon-surfing, .icon-rafting, .icon-kayaking, .icon-jet-skiing, .icon-fishing-pier, .icon-fish-cleaning, .icon-diving, .icon-boating, .icon-fishing, .icon-cross-country-skiing, .icon-skiing, .icon-snowmobile, .icon-snowboarding, .icon-snow, .icon-snow-shoeing, .icon-sledding, .icon-ski-jumping, .icon-ice-skating, .icon-ice-fishing, .icon-chairlift, .icon-golf, .icon-horse-riding, .icon-motobike-trail, .icon-trail-walking, .icon-viewing, .icon-walking, .icon-bicycling {
	font-family: 'map-icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-map-pin:before {
	content: "\e000";
}
.icon-expand:before {
	content: "\e001";
}
.icon-fullscreen:before {
	content: "\e002";
}
.icon-square-pin:before {
	content: "\e003";
}
.icon-route-pin:before {
	content: "\e004";
}
.icon-sheild:before {
	content: "\e005";
}
.icon-liquor_store:before {
	content: "\e006";
}
.icon-bicycle_store:before {
	content: "\e007";
}
.icon-hardware_store:before {
	content: "\e008";
}
.icon-insurance_agency:before {
	content: "\e009";
}
.icon-lawyer:before {
	content: "\e00a";
}
.icon-real_estate_agency:before {
	content: "\e00b";
}
.icon-art_gallery:before {
	content: "\e00c";
}
.icon-campground:before {
	content: "\e00d";
}
.icon-bakery:before {
	content: "\e00e";
}
.icon-bar:before {
	content: "\e00f";
}
.icon-amusement_park:before {
	content: "\e010";
}
.icon-aquarium:before {
	content: "\e011";
}
.icon-airport:before {
	content: "\e012";
}
.icon-bank:before {
	content: "\e013";
}
.icon-car_rental:before {
	content: "\e016";
}
.icon-car_dealer:before {
	content: "\e017";
}
.icon-hospital:before {
	content: "\e018";
}
.icon-hair_care:before {
	content: "\e019";
}
.icon-gym:before {
	content: "\e01a";
}
.icon-grocery_or_supermarket:before {
	content: "\e01b";
}
.icon-general_contractor:before {
	content: "\e01c";
}
.icon-pharmacy:before {
	content: "\e01d";
}
.icon-point_of_interest:before {
	content: "\e01e";
}
.icon-political:before {
	content: "\e01f";
}
.icon-post_box:before {
	content: "\e020";
}
.icon-health:before {
	content: "\e021";
}
.icon-post_office:before {
	content: "\e022";
}
.icon-real_estate_agency-copy:before {
	content: "\e023";
}
.icon-hindu_temple:before {
	content: "\e024";
}
.icon-restaurant:before {
	content: "\e025";
}
.icon-female:before {
	content: "\e026";
}
.icon-male:before {
	content: "\e027";
}
.icon-zoo:before {
	content: "\e028";
}
.icon-veterinary_care:before {
	content: "\e029";
}
.icon-car_repair:before {
	content: "\e02a";
}
.icon-university:before {
	content: "\e02b";
}
.icon-travel_agency:before {
	content: "\e02c";
}
.icon-transit_station:before {
	content: "\e02d";
}
.icon-beauty_salon:before {
	content: "\e02e";
}
.icon-electronics_store:before {
	content: "\e02f";
}
.icon-search:before {
	content: "\e030";
}
.icon-zoom-out-alt:before {
	content: "\e031";
}
.icon-movie_rental:before {
	content: "\e032";
}
.icon-atm:before {
	content: "\e033";
}
.icon-jewelry_store:before {
	content: "\e034";
}
.icon-car_wash:before {
	content: "\e035";
}
.icon-unisex:before {
	content: "\e036";
}
.icon-rv_park:before {
	content: "\e037";
}
.icon-school:before {
	content: "\e038";
}
.icon-clothing_store:before {
	content: "\e039";
}
.icon-laundry:before {
	content: "\e03a";
}
.icon-casino:before {
	content: "\e03b";
}
.icon-place_of_worship:before {
	content: "\e03c";
}
.icon-furniture_store:before {
	content: "\e03d";
}
.icon-zoom-in-alt:before {
	content: "\e03e";
}
.icon-zoom-in:before {
	content: "\e03f";
}
.icon-department_store:before {
	content: "\e040";
}
.icon-fire_station:before {
	content: "\e041";
}
.icon-church:before {
	content: "\e042";
}
.icon-library:before {
	content: "\e043";
}
.icon-shopping_mall:before {
	content: "\e044";
}
.icon-local_government:before {
	content: "\e045";
}
.icon-spa:before {
	content: "\e046";
}
.icon-convenience_store:before {
	content: "\e047";
}
.icon-police:before {
	content: "\e048";
}
.icon-route:before {
	content: "\e049";
}
.icon-zoom-out:before {
	content: "\e04a";
}
.icon-location-arrow:before {
	content: "\e04b";
}
.icon-postal_code:before {
	content: "\e04c";
}
.icon-locksmith:before {
	content: "\e04d";
}
.icon-doctor:before {
	content: "\e04e";
}
.icon-mosque:before {
	content: "\e04f";
}
.icon-stadium:before {
	content: "\e050";
}
.icon-storage:before {
	content: "\e051";
}
.icon-movie_theater:before {
	content: "\e052";
}
.icon-electrician:before {
	content: "\e053";
}
.icon-moving_company:before {
	content: "\e054";
}
.icon-postal_code_prefix:before {
	content: "\e055";
}
.icon-crosshairs:before {
	content: "\e056";
}
.icon-compass:before {
	content: "\e057";
}
.icon-dentist:before {
	content: "\e058";
}
.icon-plumber:before {
	content: "\e059";
}
.icon-museum:before {
	content: "\e05b";
}
.icon-finance:before {
	content: "\e05a";
}
.icon-parking:before {
	content: "\e05c";
}
.icon-courthouse:before {
	content: "\e05d";
}
.icon-accounting:before {
	content: "\e05e";
}
.icon-store:before {
	content: "\e05f";
}
.icon-subway_station:before {
	content: "\e060";
}
.icon-natural_feature:before {
	content: "\e061";
}
.icon-florist:before {
	content: "\e062";
}
.icon-food:before {
	content: "\e063";
}
.icon-night_club:before {
	content: "\e064";
}
.icon-synagogue:before {
	content: "\e065";
}
.icon-taxi_stand:before {
	content: "\e066";
}
.icon-painter:before {
	content: "\e067";
}
.icon-train_station:before {
	content: "\e068";
}
.icon-pet_store:before {
	content: "\e069";
}
.icon-gas_station:before {
	content: "\e06a";
}
.icon-funeral_home:before {
	content: "\e06b";
}
.icon-cemetery:before {
	content: "\e06c";
}
.icon-bowling_alley:before {
	content: "\e06d";
}
.icon-roofing_contractor:before {
	content: "\e06e";
}
.icon-physiotherapist:before {
	content: "\e06f";
}
.icon-embassy:before {
	content: "\e070";
}
.icon-city_hall:before {
	content: "\e071";
}
.icon-bus_station:before {
	content: "\e072";
}
.icon-park:before {
	content: "\e073";
}
.icon-lodging:before {
	content: "\e074";
}
.icon-toilet:before {
	content: "\e075";
}
.icon-circle:before {
	content: "\e076";
}
.icon-square-rounded:before {
	content: "\e077";
}
.icon-square:before {
	content: "\e078";
}
.icon-book_store:before {
	content: "\e014";
}
.icon-cafe:before {
	content: "\e015";
}
.icon-wheelchair:before {
	content: "\e079";
}
.icon-volume-control-telephone:before {
	content: "\e07a";
}
.icon-sign-language:before {
	content: "\e07b";
}
.icon-low-vision-access:before {
	content: "\e07c";
}
.icon-open-captioning:before {
	content: "\e07d";
}
.icon-closed-captioning:before {
	content: "\e07e";
}
.icon-braille:before {
	content: "\e07f";
}
.icon-audio-description:before {
	content: "\e080";
}
.icon-assistive-listening-system:before {
	content: "\e081";
}
.icon-abseiling:before {
	content: "\e082";
}
.icon-tennis:before {
	content: "\e083";
}
.icon-skateboarding:before {
	content: "\e084";
}
.icon-playground:before {
	content: "\e085";
}
.icon-inline-skating:before {
	content: "\e086";
}
.icon-hang-gliding:before {
	content: "\e087";
}
.icon-climbing:before {
	content: "\e088";
}
.icon-baseball:before {
	content: "\e089";
}
.icon-archery:before {
	content: "\e08a";
}
.icon-wind-surfing:before {
	content: "\e08b";
}
.icon-scuba-diving:before {
	content: "\e08c";
}
.icon-sailing:before {
	content: "\e08d";
}
.icon-marina:before {
	content: "\e08e";
}
.icon-canoe:before {
	content: "\e08f";
}
.icon-boat-tour:before {
	content: "\e090";
}
.icon-boat-ramp:before {
	content: "\e091";
}
.icon-swimming:before {
	content: "\e092";
}
.icon-whale-watching:before {
	content: "\e093";
}
.icon-waterskiing:before {
	content: "\e094";
}
.icon-surfing:before {
	content: "\e095";
}
.icon-rafting:before {
	content: "\e096";
}
.icon-kayaking:before {
	content: "\e097";
}
.icon-jet-skiing:before {
	content: "\e099";
}
.icon-fishing-pier:before {
	content: "\e09a";
}
.icon-fish-cleaning:before {
	content: "\e09b";
}
.icon-diving:before {
	content: "\e09c";
}
.icon-boating:before {
	content: "\e09d";
}
.icon-fishing:before {
	content: "\e098";
}
.icon-cross-country-skiing:before {
	content: "\e09e";
}
.icon-skiing:before {
	content: "\e09f";
}
.icon-snowmobile:before {
	content: "\e0a0";
}
.icon-snowboarding:before {
	content: "\e0a1";
}
.icon-snow:before {
	content: "\e0a2";
}
.icon-snow-shoeing:before {
	content: "\e0a3";
}
.icon-sledding:before {
	content: "\e0a4";
}
.icon-ski-jumping:before {
	content: "\e0a5";
}
.icon-ice-skating:before {
	content: "\e0a6";
}
.icon-ice-fishing:before {
	content: "\e0a7";
}
.icon-chairlift:before {
	content: "\e0a8";
}
.icon-golf:before {
	content: "\e0a9";
}
.icon-horse-riding:before {
	content: "\e0aa";
}
.icon-motobike-trail:before {
	content: "\e0ab";
}
.icon-trail-walking:before {
	content: "\e0ac";
}
.icon-viewing:before {
	content: "\e0ad";
}
.icon-walking:before {
	content: "\e0ae";
}
.icon-bicycling:before {
	content: "\e0af";
}
